@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

/* Custom styles for Web3Modal button */
w3m-button {
  width: 100% !important;
  --w3m-accent-color: #8c6dfd !important;
  --w3m-accent-fill-color: #8c6dfd !important;
  --w3m-button-border-radius: 10px !important;
  --w3m-font-family: 'Epilogue', sans-serif !important;
  --w3m-button-height: 50px !important; /* Adjust this value to match your CustomButton height */
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}
